---
import GA from '../GA.astro';
const year = new Date().getFullYear();
const bottomLinks = [
  {
    header: "Company",
    links: [
      {
        name: "Home",
        href: "/",
        isExternal: false,
      },
    ],
  },
  {
    header: "Legal",
    links: [
      {
        name: "Privacy Policy",
        href: "/privacy",
        isExternal: false,
      },
    ],
  },
];
const disclaimer =
  "This website is designed for general information only. No professional counseling of any kind is offered via this website. Information on the site should not be used in place of a call, visit, or consultation with, or the advice of, a licensed healthcare or mental health professional. Please call or see a licensed mental health professional for any healthcare-related questions or advice.";
---

<footer
  class="bg-primary-500/10 dark:bg-primary-400/10 mt-16 py-16 lg:mt-20 lg:py-20"
  aria-labelledby="footer-heading"
>
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col justify-between gap-12 sm:gap-16 lg:flex-row">
      <div class="flex max-w-sm flex-col items-start gap-6 sm:gap-8">
        <a
          href="/"
          class="focus-visible:outline-primary-950 dark:group-focus-visible:outline-primary-200 rounded-md focus-visible:outline focus-visible:outline-2"
        >
          <span class="sr-only">Agatha.NYC</span>
          <img
            class="h-5 w-auto"
            :src="$store.theme.isDark ? '/assets/logo-inverted.svg' : '/assets/logo.svg'"
            alt="Stone"
          />
        </a>
        <p class="text-primary-950/70 dark:text-primary-200/70 text-base">
          Personalized therapy in NYC to help you navigate life’s challenges
          with clarity and confidence.
        </p>
      </div>
      <div
        class="flex flex-1 w-auto disclaimer max-w-xl border-t border-primary-900/10 dark:border-primary-300/10"
      >
        <p class="md:columns-2">{disclaimer}</p>
      </div>
    </div>
    <div
      class="flex flex-col justify-between gap-3 sm:gap-12 lg:flex-row mt-16 pt-4 border-t border-primary-900/10 dark:border-primary-300/10"
    >
      <p class="text-primary-950/70 dark:text-primary-200/70 text-sm">
        © {year} Agatha Parker
      </p>
      <div class="links flex gap-12">
        <div class="text-primary-950/70 dark:text-primary-200/70 text-sm">
          therapy@agatha.nyc
        </div>
        <a
          href="/privacy"
          class="text-primary-950/70 dark:text-primary-200/70 text-sm"
        >
          Privacy Policy
        </a>
      </div>
    </div>
  </div>
</footer>

<GA />

<style lang="scss">
  .disclaimer {
    padding-top: 24px;

    p {
      // columns: 2;
      font-size: 12px;
      opacity: 0.4;
    }
  }
</style>
