<a href="https://www.psychologytoday.com/profile/1507071" class="sx-verified-seal"></a>
<script type="text/javascript" src="https://member.psychologytoday.com/verified-seal.js" data-badge="13" data-id="1507071" data-code="aHR0cHM6Ly93d3cucHN5Y2hvbG9neXRvZGF5LmNvbS9hcGkvdmVyaWZpZWQtc2VhbC9zZWFscy8xMy9wcm9maWxlLzE1MDcwNzE/Y2FsbGJhY2s9c3hjYWxsYmFjaw=="></script>
